<div class="container-fluid bg-primary mt-5">
    <div class="container">
        <div class="row align-items-start justify-content-around pt-4">
            <div class="col-12 col-lg-3">
                <h3 class="fw-bold">Belimurah</h3>
                <p>Tentang kami</p>
                <p>Karir</p>
                <p>Blog</p>
                <p>Syarat & ketentuan</p>
                <p>Kebijakan privasi</p>
                <p>Hak kekeyaan intelektual</p>
            </div>
            <div class="col-12 col-lg-3 mb-2 mb-lg-0">
                <h3 class="fw-bold">Layanan</h3>
                <p>Bantuan</p>
                <p>Cara pembelian</p>
                <p>Cara pengembalian</p>
                <p>Hubungi kami</p>
            </div>
            <div class="col-12 col-lg-3 mb-2 mb-lg-0">
                <h3 class="fw-bold">Produk</h3>
                <p>Pakaian atas</p>
                <p>Pakaian bawah</p>
                <p>Elektronik</p>
                <p>Parfum</p>
                <p>Otomotif</p>
            </div>
            <div class="col-12 col-lg-3 mb-2 mb-lg-0">
                <h3 class="fw-bold">Ikuti kami</h3>
                <p class="fs-4"><img src="images/icon service/icon-facebook.png" alt="icon sosmed facebokk">  Belimurah</p>
                <p class="fs-4"><img src="images/icon service/icon-twitter.png" alt="icon sosmed facebokk">  Belimurah</p>
                <p class="fs-4"><img src="images/icon service/icon-instagram.png" alt="icon sosmed facebokk">  Belimurah</p>
            </div>
            <div class="col-12 mt-3">
                <p class="fw-bold text-center">Copyright&#169;RiefDev</p>
            </div>
        </div>
    </div>
</div>