<div class="navbar navbar-expand-lg bg-light sticky-top shadow-sm">
    <div class="container fw-bold">
        <a href="#" class="navbar-brand text-primary"><img src="images/logo/logo-and-name.png" alt="logo and name brand"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerMenu" aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="headerMenu">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0 montserrat-bold">
                <li class="nav-item active">
                    <a href="/" class="nav-link ">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Beli</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Produk Baru</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Kategori</a>
                </li>
            </ul>
            <a class="btn btn-outline-primary rounded-pill me-2 montserrat-bold" href="#">Masuk</a>
            <a class="btn btn-primary rounded-pill text-light montserrat-bold" href="/users/signup">Daftar</a>
        </div>
    </div>
</div>