<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>
    <link rel="shortcut icon" href="images/logo/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/custom-bootstrap.min.css' />
  </head>
  <body>
    <!--* Header  -->
    <%- include('./partials/header'); %>
    
    <!--* Content -->
    <div class="bg-lightyellow">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-5 mt-4 mb-5">
            <h2 class="lh-base montserrat-bold text-dark">
              Murah, Mudah, & Mutu <br> Harga mulai dari 25K <br> untuk siapa saja.
            </h2>
            <p class="fs-6">
              Kami memberikan berbagai macam harga yang dapat di jangkau oleh semua kalangan, dengan produk bermutu & mudah transaksinya.
            </p>
            <button type="button" class="btn btn-primary rounded-pill p-3 text-dark shadow montserrat-bold fs-6">
              Beli Sekarang <img src="images/btn-buy-now.png" alt="btn-buy-now" class="ms-2">
            </button>
          </div>
          <div class="col-lg-7 d-flex justify-content-start mt-5 mb-5 d-none d-lg-block">
            <img src="images/visual-landing-page.png" alt="visual landing page" class="img-fluid">
          </div>
        </div>
        <div class="row align-items-center justify-content-center mt-5">
          <div class="position-relative">
            <div class="bg-light position-absolute top-100 start-50 translate-middle">
              <h1>hellow</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!--* Footer  -->
    
    <!-- <script src="bootstrap.bundle.js"></script> -->
    <script src="bootstrap.min.js"></script>
  </body>
</html>
