<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>
    <link rel="shortcut icon" href="../images/logo/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/custom-bootstrap.min.css' />

    <script src="https://kit.fontawesome.com/f8405fe6d9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container full-height">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="row align-items-center w-auto">
                <img src="../images/background-form-signup.png" alt="background-form-signup">
            </div>
        </div>
    </div>
</body>
</html>